*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(223, 226, 217);
}

#outer-box{
    width: 75%;
    height: 75%;
    margin: 0px auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    border: 2px solid black ;
    box-shadow: 2px 2px grey;
}

#logo{
    padding: 20px;
    height:140px ;
    width: 250px;
}

#heading{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#para-1{
    font-size: 15px;
    font-weight: bold;
}

ul{
    padding: 0px;
}

ul li{
    margin-left: 30px;
}

#box-table, #details , #details-table-p2{
 width: 100%;
}

#box-table td{
    border: 1px solid black;
}

#box-table .td-border{
    border: 0px !important;
}

#box-table .photo{
    width: 80%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    text-align: center;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
}

input:focus{
    outline: none;
}
.section-a{
    background-color: #fd8904;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

td{
    padding-top: 3px;
    padding-bottom: 5px;
}
.w-100-text{
    float: left;
}

.w-100-div{
    overflow: auto;
    padding: 2px;
}

.w-100-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
}

.text-top{
    vertical-align: text-top;
}

.warning-italic{
    font-style: italic;
    text-align: center;
}